body{
	max-width: 1240px;
    margin: 10px auto;
}

h3 {
    margin: 0px;
}

section{
	margin-top: 40px
}

.header-bar, .invoice-add-details, .invoice-ship-details, .balance{
	display: flex;
}

.logo{
	width: 12%;
}

.logo img{
	width: 100px;
    height: 100px;
}

.contact-detail{
    width: 88%;
}

.address{
    width: 33%;
}

.invoice-ship-details{
	border-top: 2px solid #c5bfbf;
    margin-top: 30px;
    padding: 25px 0px 40px;
}

.ship{
    width: 50%;
}

table{
	width: 100%;
}
thead
{
	    background: #f7f7f7;
    text-align: left;
}

th {
    padding: 10px;
}

td {
    padding: 5px 10px;
}